# --- Code Composer Studio / Eclipse Build Outputs ---
Debug/
Release/
*.obj
*.out
*.map
*.txt
*.xml
*.json
*.d
*.pp

# --- IDE Project Configuration & Cache (Keep .ccsproject, .cproject, .project) ---
.settings/
.codex/
.launches/
.clangd

# --- OS Artifacts ---
.DS_Store
Thumbs.db

#--- Font bitmaps move required fonts to grlib dir ---

grlib/fonts/


.ccsproject

.cproject

.project

28069_RAM_lnk.cmd

F28069.cmd

F2806xCodeStartBranch.asm

F2806x_Headers_nonBIOS.cmd

TMS320F28069.ccxml

f28069.gel

F2806x_usDelay.asm