# --- Code Composer Studio / Eclipse Build Outputs ---
Debug/
Release/
*.obj
*.out
*.map
*.txt
*.xml
*.json
*.d
*.pp

# --- IDE Project Configuration & Cache (Keep .ccsproject, .cproject, .project) ---
.settings/
.codex/
.launches/
.clangd

# --- OS Artifacts ---
.DS_Store
Thumbs.db

#--- Font bitmaps move required fonts to grlib dir ---

grlib/fonts/